
<!-- Section Img Scale Animation -->

<section class="align-center pt80 section-move-bg-top img-scale-animation">
	<div class="container">
		<div class="row">
			<div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
				<img class="main-img" src="img/scale1.png" alt="screen" data-aos="zoom-in-down" data-aos-delay="200" data-aos-duration="500">
			</div>
		</div>

		<img class="first-img1" alt="img" src="img/scale2.png" data-aos="zoom-in-down" data-aos-delay="700" data-aos-duration="500">
		<img class="second-img1" alt="img" src="img/scale3.png" data-aos="zoom-in-down" data-aos-delay="1000" data-aos-duration="500">
		<img class="third-img1" alt="img" src="img/scale4.png" data-aos="zoom-in-down" data-aos-delay="1300" data-aos-duration="500">
	</div>
	<div class="content-bg-wrap bg-section2"></div>
</section>

<!-- ... end Section Img Scale Animation -->